.idea
*iml
scib-svr/helpers/scib-data-account.json
*.yarn.lock
node_modules
/scib-web/yarn.lock
/scib-svr/datastore/scib-data-account.json
/scib-web/build/
/scib-web/yarn-error.log
.DS_Store
/scib-svr/auth/auth_config.json
/scib-svr/auth_config.json
