.logo {
  pointer-events: none;
  width: calc(70vw * 0.9);
  height: calc((70vw / 6) * 0.8);
}

.punchline {
  font-size: medium;
  font-weight: lighter;
  display: flex;
  align-items: center;
  margin: auto;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}